header, footer {
    background-color: rgb(1, 61, 113);
    color: black;
    padding: 1em;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    clear: left;
}

.nav {
    background-color:black;
    padding: 1em;
    float: left;
    font-size: large;
    text-decoration: none;
}
.wrapper {
    display:flex;
    font-size: large;
}
.wrapper > div {
    flex:1;
    text-align: center;
}
.wrapper > nav {
    float: left;
    padding: 1em;
}

section {
    float: left;
    width: 60%;
    color: blue;
    height: 230px;
    padding: 3em;
    background-color: aquamarine;
    opacity: 0.7;
}
aside {
    float: right;
    width: 17%;
    color: blue;
    height: 430px;
    padding: 3em;
    background-color:aquamarine;
    opacity: 0.7;
}
article {
    float: left;
    width:60%;
    padding: 3em;
    color: blue;
    height: 230px;
    background-color: aquamarine;
    opacity: 0.7;
    
}
.padding {
    padding: 1em;
}
body{
    background-image: url("Sunset.jpg");
    background-color: black;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
p {
    border: 2px solid black;
    border-radius: 5px;
    padding: 1em;
}
a:link {
    color: yellow; 
}
a:hover { 
    text-decoration: none;
    color: red;
}